@page
@model StripboekProject.Pages.SearchResult

@{
    Layout = null;
}

<div>
    <h1>Resultaten:</h1>
    <p>Zoek opdracht: @Model.Search</p>
    
    <table class="table">
        <tr>
            <th>Titel</th>
            <th>StripId </th>
            <th>Aantal_blz </th>
            <th>Serie </th>
            <th>Serienummer </th>
            <th>Uitgave </th>
            <th>Dikte_mm </th>
            <th>Lengte_mm </th>
            <th>Breedte_mm </th>
            <th>NSFW </th>
            <th>Digitaal </th>
            <th>Verified </th>
        </tr>
        @foreach (var c in Model.stripboeken)
        {
            <tr>
                <td>@c.Titel</td>
                <td>@c.StripId</td>
                <td>@c.Aantal_blz</td>
                <td>@c.Serie</td>
                <td>@c.Serienummer</td>
                <td>@c.Uitgave</td>
                <td>@c.Dikete_mm</td>
                <td>@c.Lengte_mm</td>
                <td>@c.Breedte_mm</td>
                <td>@c.NSFW</td>
                <td>@c.Digitaal</td>
                <td>@c.Verified</td>
            </tr>
        }

    </table>
</div>
