@page
@model StripboekProject.Pages.Zoeken

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Search</title>
</head>
<body>

<div>
    <form class="input-group mt-4" method="get" asp-page="/SearchResult">
        <input type="search" class="form-control rounded" name="Search" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
        <button type="submit" class="btn btn-outline-primary">search</button>
    </form>
</div>

<div class="btn-group">
    <div class="dropdown mt-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Search By
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">Stripboeknaam</a></li>
            <li><a class="dropdown-item">Categorie</a></li>
            <li><a class="dropdown-item">Serienummer</a></li>
            <li><a class="dropdown-item">Auteur/Tekenaar</a></li>
        </ul>
    </div>

    <div class="dropdown mt-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Order By
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">A-Z</a></li>
            <li><a class="dropdown-item">Aantal Bladzijden(meest-minst)</a></li>
        </ul>
    </div>
</div>


<div class="card mt-4">
    <table class="table">
         @foreach (var c in Model.Stripboeken)
         {


             <tr>
                 <th>Titel:</th>
                 <td>@c.Titel</td>
             </tr>
             <tr>
             <th>Serie:</th>
             <td>@c.Serie</td>
            </tr>             
             <th>Uitgave:</th>
             <td>@c.Uitgave</td>
             <tr>
                 <th>Aantal Bladzijden:</th>
                 <td>@c.Aantal_blz</td>
             </tr>
             
             <tr>
                 <th>Dikte mm, Wijdte mm, Hoogte mm:</th>
                 <td>@c.Dikte_mm, @c.Breedte_mm, @c.Lengte_mm</td>

             </tr>
         }
         @foreach (var b in Model.Auteurs)
         {
             <tr>
                 <th>Auteur en/of tekenaar:</th>
                 <td>@b.Auteur_naam</td>
             </tr>
         }
    </table>
</div>
<div class="card mt-4">
    <table class="table">
             @foreach (var c in Model.Stripboeken2)
             {
    
    
                 <tr>
                     <th>Titel:</th>
                     <td>@c.Titel</td>
                 </tr>
                 <tr>
                 <th>Serie:</th>
                 <td>@c.Serie</td>
                </tr>             
                 <th>Uitgave:</th>
                 <td>@c.Uitgave</td>
                 <tr>
                     <th>Aantal Bladzijden:</th>
                     <td>@c.Aantal_blz</td>
                 </tr>
                 
                 <tr>
                     <th>Dikte mm, Wijdte mm, Hoogte mm:</th>
                     <td>@c.Dikte_mm, @c.Breedte_mm, @c.Lengte_mm</td>
    
                 </tr>
             }
             @foreach (var b in Model.Auteurs2)
             {
                 <tr>
                     <th>Auteur en/of tekenaar:</th>
                     <td>@b.Auteur_naam</td>
                 </tr>
             }
        </table>
</div>
<div class="card mt-4">
    <table class="table">
                 @foreach (var c in Model.Stripboeken3)
                 {
        
        
                     <tr>
                         <th>Titel:</th>
                         <td>@c.Titel</td>
                     </tr>
                     <tr>
                     <th>Serie:</th>
                     <td>@c.Serie</td>
                    </tr>             
                     <th>Uitgave:</th>
                     <td>@c.Uitgave</td>
                     <tr>
                         <th>Aantal Bladzijden:</th>
                         <td>@c.Aantal_blz</td>
                     </tr>
                     
                     <tr>
                         <th>Dikte mm, Wijdte mm, Hoogte mm:</th>
                         <td>@c.Dikte_mm, @c.Breedte_mm, @c.Lengte_mm</td>
        
                     </tr>
                 }
                 @foreach (var b in Model.Auteurs3)
                 {
                     <tr>
                         <th>Auteur en/of tekenaar:</th>
                         <td>@b.Auteur_naam</td>
                     </tr>
                 }
            </table>
</div>

</body>
</html> 